img{
    width: 100%;
    height: auto;
  }
.contenedor{
    position: relative;

    text-align: center;
}
.textImg {
    position: absolute;
    top: 40%;
    left: 60%;
    transform: translate(-80%, -80%);
}

.enlace{
    position: absolute;
    top: 5%;
    left: 80%;
    text-align: right;
    
}

a {
    text-decoration: none;
    color:darkcyan
}
h5{
    color: darkcyan;
}